* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    text-align: center;
}

button {
    font-size: 1rem;
    padding: 5px;
}

header {
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    padding: 5px;
}

.options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.option1, .option2 {
    background: white;
    display: inline-block;
    margin: 10px;
}

/* modal */

input[type="text"] {
    display: block;
    margin: 10px auto;
}

/* game body */
.game {
    font-size: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
}

.game p {
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}

.column1, .column2 {
    border-bottom: 2px solid black;
}

.row1, .row2 {
    border-right: 2px solid black;
}

.hide {
    display: none;
}